@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="@Url.Action("ObtenerDatos")">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" name="pEmail" class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="pPassword" class="form-control" placeholder="Enter password" id="pwd">
    </div>    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
